<!doctype html>
<title>Upload new File</title>
<body style="margin: 0; padding: 0;">
   <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">

   <div style="display: flex; flex-direction: column; justify-content: center; text-align: center;">
      <h1>Upload new File</h1>
      <div >
         <form action="" method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
         </form>
      </div>
   </div>
   
   </div>   
</body>
